<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close fe fe-x" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="row mt-3">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">
            <carousel [showIndicators]="true" [isAnimated]="true">
                <slide *ngFor="let image of images">
                  <img src="{{image?.image_url}}" alt="{{image?.image_url}}">
                </slide>
            </carousel>
        </div>
        <div class="col-md-1">
            
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button type="submit"
        [disabled]="resourceForm.invalid || headers?.text == '' || isJsonString(headers?.text) === false ||
        attributes?.text == '' || isJsonString(attributes?.text) === false ||
        body?.text == '' || isJsonString(body?.text) === false"
        (click)="createUpdateResource()"
        class="page-link submit-user">{{submitBtnName}}</button> -->
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>