<app-page-header [title]="'Genders'" [items]="['Products']" [active_item]="'Genders'"></app-page-header>

<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{'Gender List'}}</h4>
            </div>

            <app-table-data *ngIf="data" [pageTitle]="'Gender List'" [columns]="columns"
                (actionEvent)="actionEvent($event)" [page]="page" (pageEvent)="pageChange($event)"
                [pagination_data]="pagination_data" [actionHtml]="actionHtml" [showFilter]="true" [data]="data"
                #tableData></app-table-data>

        </div>
    </div>
</div>
<app-loader *ngIf="spinner"></app-loader>