<app-page-header [title]="'Change Password'" [items]="['Settings']" [active_item]="'Change Password'">
</app-page-header>
<div class="row">
    <div class="col-12 col-sm-12">
        <form [formGroup]="changePassword">
            <div class="row mt-4 mb-4">
                <div class="col-md-2">
                    <label>Password<span class="tx-danger">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="password" formControlName="password" placeholder="Enter password" class="form-control"
                        [(ngModel)]="password" />
                    <span class="tx-danger"
                        *ngIf="changePassword.controls['password'].touched && changePassword.controls['password'].errors?.['required']">
                        Password is required.
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label>Confirm Password<span class="tx-danger">*</span></label>
                </div>
                <div class="col-md-4">
                    <input type="password" formControlName="confirmPassword" placeholder="Enter confirm password"
                        class="form-control" [(ngModel)]="confirmPassword" />
                    <span class="tx-danger"
                        *ngIf="changePassword.controls['confirmPassword'].touched && changePassword.controls['confirmPassword'].errors?.['required']">
                        Confirm password is required.
                    </span>
                    <div class="tx-danger"
                        *ngIf="changePassword.controls['confirmPassword'].touched && changePassword.value.password !== changePassword.value.confirmPassword">
                        Password and Confirm password should be same.
                    </div>

                    <div class="mt-5">
                        <button type="submit" (click)="change()"
                            [disabled]="changePassword.invalid || changePassword.value.password !== changePassword.value.confirmPassword"
                            class="btn btn-primary change-password">Change Password</button>
                    </div>
                </div>
            </div>
        </form>
        
    </div>   
</div>

<app-loader *ngIf="spinner"></app-loader>